{% extends "layout1.html" %}
{% block stuff %}
  <form method="post" action="{{ url_for('predictpmsm') }}" enctype="multipart/form-data">
    {% for text_box in range(13) %}
<div class="mb-3">

<label for="gsensor{{ text_box+1 }}" class="form-label">Enter data for the day {{ text_box+1 }}:</label>
<input type="text"  name = "gsensor{{ text_box+1 }}" class="form-control" id="gsensor{{ text_box+1 }}" placeholder="Enter value" required>
    <div class="invalid-feedback">
      Please enter a value
    </div>

</div>

{% endfor %}


<button class="btn btn-outline-warning" type="submit">Predict</button>
 </form>
    </form>
    <form method="post" action="{{ url_for('home') }}" enctype="multipart/form-data">
     <button class="btn btn-outline-light" type="submit">Back to home</button>
</form>
{% endblock %}